.App {
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

th,td{
  min-width: 80px;
  padding: 5px;
}

th{
  color: white;
}

table{
  margin: 20px;
}